/*

Liz Phillips
Global styles
Last updated: 9/5/2024

*/

/* 
BODY 
*/

body{
	/* Background image with gradient on top */
	background-image: 
		linear-gradient(
			/*  blue-gray and black */
			rgba(60, 60, 100, 0.6), rgba(0, 0, 0, 0.8)), 
		url(./images/jwst-deep-field.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;

    margin: 0;

	font-family: "Lucida Sans Unicode", sans-serif;
}

/*
NAVIGATION
*/

#sitenav ul{
	/* The entire navigation bar */
	list-style-type: none;
	overflow: hidden;
	position: fixed;
    width: 100%;
	margin: 0;
	padding: 0;
	background-color: #aaaaaa;
}

#sitenav li{
    float:left;
}

#sitenav a{
	/* The button is the actual link itself */
	display: block;
	padding: 1em;
    text-align: center;
    text-decoration:none;
    color: black;
}
#sitenav a:hover{
	/* Change background color when hovering on all links in the navbar*/
    color: white;
	background: gray;
}


#dropdown {
	/* This element contains the dropdown "button" and the dropdown-menu */
	position: relative;
	display: block;
}
#dropdown-menu{
	/* The dropdown menu */
	display: none;
	z-index: 1;
	/*position: absolute;*/
}
#dropdown-menu ul{
	/* similar to the root ul, overriding certain things */
	list-style-type: none;
	overflow: hidden;
	position: relative;
	right: 0px;
	margin: 0;
	padding: 0;
	border-radius: 0;
	background-color: #aaaaaa;
}
#dropdown:hover #dropdown-menu{
	/* To show the rest of the menu */
	display: block;
}

/*
CANVAS
*/

#canvas-container{
	position: sticky;
	top: 0;
	z-index: -1;
}

canvas {
	display: block;
}


/*
MAIN
*/

#main{
	/* Main content of the page: NOT a header or nav bar, etc. */
	color: white;
	padding:3em;
	background:black;
}

/*

GALLERY

Flexbox demo:
https://codepen.io/enxaneta/full/adLPwv/

*/

.gallery {
/*   border: 1px solid white; */
  padding: 0px !important;
  height: 100vh;
  
  /* Flexbox settings... so difficult */
  display: block flex;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
  justify-content: center;
  flex-wrap: wrap;
  
  /* Scroll horizontally */
  overflow-x: auto;
  overflow-y: hidden;
}

.gallery-item {
  /* These divs contain each gallery image. */
/*   outline: 2px dashed red; */
  padding: 0px;
  height: 50%; /* Ensures two pics per column */
  width: auto; /* Keep aspect ratio */

  overflow:hidden;  
}

.gallery-item a:hover > img{
  /* Zoom effect on hover */
  transform: scale(1.1);
  overflow:hidden;
}

.gallery-item img {
  /* Resize image to fit into its div */
  width: 100%;
  height: 100%;
  object-fit: cover;
  
  transition: transform 0.3s ease; /* Putting it here makes sure the reverse animation plays */
}