/*

Liz Phillips
Global styles
Last updated: 9/5/2024

*/

@font-face {
	font-family: handjet;
	src: url(/fonts/handjet.ttf);
 }
 @font-face {
	font-family: quicksand;
	src: url(/fonts/quicksand.ttf);
 }
@font-face {
	font-family: rubikmono;
	src: url(/fonts/RubikMonoOne-Regular.ttf);
}

/* 
BODY 
*/

body{
	/* Background image with gradient on top */
	
	background:black;

    margin: 0;

	font-family: quicksand, "Lucida Sans Unicode", sans-serif;
}

/*
NAVIGATION
*/

#sitenav ul{
	/* The entire navigation bar */
	list-style-type: none;
	overflow: hidden;
    width: 100%;
	margin: 0;
	padding: 0;
	background-color: #474b4f;
}

#sitenav li{
    float:left;
}

#sitenav a{
	/* The button is the actual link itself */
	display: block;
	padding: 1em;
    text-align: center;
    text-decoration:none;
    color: #bec5c9;
}
#sitenav a:hover{
	/* Change background color when hovering on all links in the navbar*/
    color: white;
	background: #61892f;
}


#dropdown {
	/* This element contains the dropdown "button" and the dropdown-menu */
	position: relative;
	display: block;
}
#dropdown-menu{
	/* The dropdown menu */
	display: none;
	z-index: 1;
	/*position: absolute;*/
}
#dropdown-menu ul{
	/* similar to the root ul, overriding certain things */
	list-style-type: none;
	overflow: hidden;
	position: relative;
	right: 0px;
	margin: 0;
	padding: 0;
	border-radius: 0;
	background-color: #aaaaaa;
}
#dropdown:hover #dropdown-menu{
	/* To show the rest of the menu */
	display: block;
}

/*
MAIN
*/

#main{
	/* Main content of the page: NOT a header or nav bar, etc. */
	color: white;
	padding:3em;
	/* background:black; */
	background-image: 
		linear-gradient(
			/*  blue-gray and black */
			#222629, #474b4f);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

h1{
	color:#86c323;
	text-shadow: 0px 6px black;
	font-family: handjet;
	font-size: 4em;	
}

#main a{
	color:#86c323;
}

#main img{
	width:100%;
	height:auto;
}

#back-button{
	border:1px solid #61892f;
	border-radius: 20px;
	background: none;
	color: #61892f;
	font-family: inherit;

	padding: 1em;
	margin: 1em 0;

	transition: 0.2s;
}
#back-button:hover{
	background: #61892f;
	color: white;
}

/*

GALLERY

Flexbox demo:
https://codepen.io/enxaneta/full/adLPwv/

*/

.gallery {
/*   border: 1px solid white; */
  padding: 0px !important;
  height: 100vh;
  
  /* Flexbox settings... so difficult */
  display: block flex;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
  justify-content: center;
  flex-wrap: wrap;
  
  /* Scroll horizontally */
  overflow-x: auto;
  overflow-y: hidden;
}

.gallery-item {
  /* These divs contain each gallery image. */
/*   outline: 2px dashed red; */
  padding: 0px;
  height: 50%; /* Ensures two pics per column */
  width: auto; /* Keep aspect ratio */

  overflow:hidden;  
}

.gallery-item a:hover > img{
  /* Zoom effect on hover */
  transform: scale(1.1);
  overflow:hidden;
}

.gallery-item img {
  /* Resize image to fit into its div */
  width: 100%;
  height: 100%;
  object-fit: cover;
  
  transition: transform 0.3s ease; /* Putting it here makes sure the reverse animation plays */
}

/*
CANVAS
*/

#canvas-container{
	z-index: -1;
}

canvas {
	display: block;
}
